<div class="p-4 flex gap-4 flex-col">
  @for (row of formService.rows(); track row.id) {
    <div
      class="relative p-5 pt-2 bg-white rounded-lg border border-dashed border-gray-200 ps-10"
      cdkDropList
      [cdkDropListData]="row.id"
      (cdkDropListDropped)="onDropInRow($event, row.id)"
      [cdkDropListOrientation]="'mixed'"
      [style.view-transition-name]="'row-' + row.id"
    >
      <div class="flex justify-between items-center">
        <span class="text-primary">Row</span>
        <button
          mat-icon-button
          (click)="deleteRow(row.id)"
          class="hover:bg-gray-100 rounded-full"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="flex gap-4 flex-wrap">
        @for (field of row.fields; track field.id) {
          <app-form-field
            cdkDrag
            [cdkDragData]="field"
            class="flex-1"
            [field]="field"
            [style.view-transition-name]="'field-' + field.id"
            [style.view-transition-class]="'field-transition'"
          />
        } @empty {
          <div
            class="p-4 text-center bg-background w-full border border-dashed text-gray-500 border-primary-container rounded"
          >
            Drag and drop form elements here
          </div>
        }
      </div>
      <div class="absolute left-0 flex flex-col gap-0 top-1/2 -translate-y-1/2">
        <button
          mat-icon-button
          [disabled]="$first"
          (click)="formService.moveRowUp(row.id)"
        >
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <button
          mat-icon-button
          [disabled]="$last"
          (click)="formService.moveRowDown(row.id)"
        >
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </div>
    </div>
  }
</div>
